{{!--
    Parameters:
    * feed (index, home, archive, recent)
    * postFeedStyle (list, grid)
    * showTitle (true, false)
    * showSidebar (true, false)
--}}

<section class="gh-container post-list-container gh-outer">
    <div class="gh-container-inner gh-inner">
        {{!-- Add the tag filter component --}}
        {{#is "home"}}
            {{> "components/tag-filter"}}
        {{/is}}

        <main class="gh-main">
            <div class="gh-feed">
                {{!-- Use different logic based on context --}}
                {{#is "home"}}
                    {{!-- On home page, get all posts for filtering --}}
                    {{#get "posts" limit="all" include="tags"}}
                        {{#foreach posts}}
                            <article class="post-list-item" data-tags="{{#foreach tags}}{{slug}}{{#unless @last}} {{/unless}}{{/foreach}}">
                                {{!-- Post content here --}}
                                <div class="post-content">
                                    <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
                                    <p class="post-excerpt">{{excerpt characters="140"}}</p>
                                    <time class="post-date">{{date format="D MMMM, YYYY"}}</time>
                                </div>
                                {{#if feature_image}}
                                    <div class="post-image">
                                        <img src="{{feature_image}}" alt="{{title}}">
                                    </div>
                                {{/if}}
                            </article>
                        {{/foreach}}
                    {{/get}}
                {{else}}
                    {{!-- On tag pages, use the provided posts --}}
                    {{#foreach posts}}
                        <article class="post-list-item" data-tags="{{#foreach tags}}{{slug}}{{#unless @last}} {{/unless}}{{/foreach}}">
                            {{!-- Post content here --}}
                            <div class="post-content">
                                <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
                                <p class="post-excerpt">{{excerpt characters="140"}}</p>
                                <time class="post-date">{{date format="D MMMM, YYYY"}}</time>
                            </div>
                            {{#if feature_image}}
                                <div class="post-image">
                                    <img src="{{feature_image}}" alt="{{title}}">
                                </div>
                            {{/if}}
                        </article>
                    {{/foreach}}
                {{/is}}
            </div>
        </main>
    </div>
</section>